@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* 基本のテキストカラー */
  --color-text: #222222;
}

/* 基本フォントサイズ */
.main-font-size {
  font-size: 16px;
}

.text-main-color {
  color: var(--color-text);
}